.roadmap {
  background-color: black;
  height: 100%;
  padding: 12%;
}

.animate {
  transition: transform 0.3s ease-in-out;
}

.animate:hover {
  transform: scale(1.05);
}

.topCard {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: grey;
}

.card-body ul {
  list-style: outside;
}

.textHead {
  margin-top: 40px;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #bddeba, rgb(180, 210, 178));
  color: transparent;
  background-clip: text;
}

.timeline-title {
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(to left, #bddeba, rgb(180, 210, 178));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.timeline-body {
  font-size: 15px;
  font-weight: 300;
  background-image: linear-gradient(to left, #bddeba, rgb(180, 210, 178));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.timeline-badge {
  background-image: linear-gradient(to left, #bddeba, rgb(180, 210, 178));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.timeline {
  list-style: none;
}

.textRoad {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  background-image: linear-gradient(to left, #bddeba, rgb(180, 210, 178));
  color: transparent;
  background-clip: text;
}
