.sticky-bottom {
  position: fixed;
  bottom: 0;
}

.centerScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
}
.textHeader {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #00c9ff, #92fe9d);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: slideInLeft;
  animation-duration: 1s;
}

.text {
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(to left, #bddeba, rgb(180, 210, 178));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: slideInRight;
  animation-duration: 1s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
